@using Books_Shop.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit Product";
}

<form method="post">
    <div>
        <p>
            <label asp-for="Title">Name for Book:</label>
            <input type="text" asp-for="Title" value="@ViewBag.ProductTitle" />
            <span asp-validation-for="Title" />
            <br />
        </p>
        <p>
            <label asp-for="Author">Author:</label>
            <input type="text" asp-for="Author" value="@ViewBag.ProductAuthor" />
            <span asp-validation-for="Author" />
            <br />
        </p>
        <p>
            <label asp-for="DateOfCreate">Date of Create:</label>
            <input type="date" asp-for="DateOfCreate" value="@ViewBag.ProductDateOfCreate" />
            <span asp-validation-for="DateOfCreate" />
            <br />
        </p>
        <p>
            <label asp-for="Price">Price:</label>
            <input type="text" asp-for="Price" value="@ViewBag.ProductPrice" />
            <span asp-validation-for="Price" />
            <br />
        </p>

        <p>
            <input type="submit" value="Edit" />
        </p>
    </div>
</form>
